.container {
    display: grid;
    grid-template-rows: [header] 100px [content] 1fr [footer] 25px;
    grid-template-columns: auto;
    height: 100vh;
    margin: 0;
}

header {
    column-gap: 4px;
    display: grid;
    grid-row-start: header;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

header h1 {
    height: 100%;
    margin: 0;
    text-align: center;
}

header nav {
    align-items: end;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

header nav ul {
    grid-column: 1 / 4;
    height: 70%;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    border-left: 2px solid;
    flex: 1;
}

header nav ul li:first-child {
    border-left: none;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .rating {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}

.logo {
    height: 100%;
    width: auto;
    object-fit: contain;
}

main {
    grid-row-start: content;
}

footer {
    grid-row-start: footer;
}

.d-flex {
    display: flex;
}



/* colors */

.text-silver-chalice {
    color: #AAAAAA;
}

.bg-silver {
    background: #C7C7C7;
}

.bg-scorpion {
    background: #5D5D5D;
}

.bg-tundora {
    background: #454545;
}

.bg-bolder {
    background: #757575;
}

/* end - colors */